.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f1f1f1;
    padding: 10px 20px;
  }

   img{
    height:50px;
    width:50px;
     }
   
  .logo {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
  }
  
  .nav-item {
    margin-right: 10px;
  
  }
  
  .nav-link {
    text-decoration: none;
    color: #333;
    padding: 5px 10px;
  }
  
  .nav-link:hover {
    background-color: #a17575;
    color: #fff;
    border-radius:10px;
    font-size: 20px;
  
  }  